################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BuildNDeploy/obj
/BuildNDeploy/.vs/BuildNDeploy/v17
/BuildNDeploy/bin/Debug/net6.0-windows
/BuildNDeploy/BuildNDeploy.csproj.user
